<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ng-custom-unsub</title>
  </head>
  <body>
    <button (click)="start()">Start and Subscribe</button>
    <br />
    <br />
    <button (click)="stop()">Stop and Unsubscribe</button>
    <input type="text" [(ngModel)]="inputId" />
    <br />
    <br />
    <textarea cols="30" rows="10" disabled
      >{{ log }}
  </textarea
    >
  </body>
</html>
